<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>Some paragrap words for this page.</p>
    {{> footer}}
  </body>
</html>
